/* CSS Document */

body { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#000000; line-height:1.4em; margin:0; padding:0; text-align:left;}

p { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#000000; line-height:1.4em; margin:0; padding:0;}
p a:link, p a:visited { font-size:10px; color:#003399; text-decoration:underline;}
p a:hover { color:#003366;}

h1 { font-size:12px; color:#CC0000; font-weight:bold;}

h2 { font-size:11px; color:#003399; margin:0; padding-top:4px; padding-bottom:4px;}
h2 a:link, h2 a:visited { text-decoration:none; color: #000;}
h2 a:hover { text-decoration:underline; color:#000000;}

h3 { font-size:14px; color:#000; font-weight: normal;}

.bordertop { border-top:1px solid #E4E7F0; }
.borderbot { border-bottom::1px solid #E4E7F0; }
.borderbox { border-left:1px solid #A9B5D0; border-right:1px solid #A9B5D0;}
.footer { color:#999999; font-size:10px;}

.logout { font-size:10px; color:#CCCCCC; }
.logout a:link, .logout a:visited { color:#003399; text-decoration:none;}
.logout a:hover { color:#003366; text-decoration:underline;}

.input { border:1px solid #A7A6AA; padding-left:2px;}

.head {background-color: #DF0000; font-family:Arial, Helvetica, sans-serif; color: #FFFFFF; font-weight:bold;border-right:1px solid #fff; text-align: left; font-size:12px;}

table.general { background-color: #FEF4E7; border-collapse: collapse;font-size:11px;border:0;margin:10px 0px; text-align:left}

table.general td {border-bottom:1px solid #fff;border-left:1px solid #fff;border-right:1px solid #fff;padding:4px 4px 4px 10px;vertical-align:middle;}
table.general td.heading {font-size:16px; color:#333; padding:8px 10px; background:#FAFAF8;}

table.general th {padding:4px 5px; font-weight:bold;font-size:12px;color:#333; background:#F4FBFF; border-bottom:1px solid #D7EFFB; }
.required{ color:#CC0000;}

input.entryfield {width:180px;padding:4px;border-top:1px solid #d7d7d7;border-left:1px solid #d7d7d7;border-bottom:1px solid #f3f3f3;border-right:1px solid #f3f3f3;background-color:#fbfbfb;font: 11px/14px Verdana, Arial, Helvetica, sans-serif;color: #333;}
/*----------------------*/

form { margin:-10px 0 0 0;padding:0;}
form dt { clear:both; width:45%; float:left; margin-left: 0.8em; text-align:left;}
form dd {float:left; width:90%; margin:0 0 0.5em 0.25em;}

.logout { font-size:10px; color:#CCCCCC; }
.logout a:link, .logout a:visited { color:#003399; text-decoration:none;}
.logout a:hover { color:#003366; text-decoration:underline;}
